{
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "printWidth": 120,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "pugUseTabs": false,
  "pugAttributeSeparator": "always",
  "pugSingleQuote": false,
  "pugWrapAttributesThreshold": -1,
  "pugClassNotation": "as-is",
  "overrides": [
  {
      "files": "*.vue",
      "options":
      {
          "parser": "pug",
          "bracketSpacing": true
      }
  }]
}
