*
    margin 0
    padding 0
    box-sizing border-box
*:before
    box-sizing border-box
*:after
    box-sizing border-box

html, body
    margin 0
    padding 0
    height 100%
    font-family Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif
    font-weight 400
    -webkit-font-smoothing antialiased

img
    max-width 100%
    height auto

.page-enter,
.page-leave-to
    opacity 0

.page-enter-active,
.page-leave-active
    transition opacity .4s

.mb-1
    margin-bottom 1rem
